
  .carousel-caption{
  color: #fff;
  top: 2%;
  left:30%;
  max-width: 100%;
     width:100%;
    padding-left: 150px;

 
}

.card{
    width: 500px;
    height: 300px;
    border-width: 5px;
    border-style:solid;
    border-radius:20px;
    border-color:orange;
    background-color:orange;
    top:60%;
    left:40%;
}
.btn-hover2 {
   
   width: 300px;
   font-size: 20px !important;
   font-weight: 600 !important;
   color: rgb(255, 255, 255) !important;
   cursor: pointer;
   margin: 10px;
   width: 150px;
   height: 55px !important;
   text-align: center !important;
   border: none !important;
   background-size: 300% 100% !important;
   border-radius: 50px !important;
   
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}

.btn-hover2:hover {
   background-position: 100% 0;
   
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}
.btn-hover2:focus {
   outline: none;
}

.btn-hover2.color-1 {
   background-image: linear-gradient(to right, #255f79, #912ee2, #110792, #64d6da);
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
}

.pulse2 {
  
   cursor: pointer;
   box-shadow: 0 0 0 0 rgb(83 176 57 / 75%);
   animation: pulse 1.5s infinite;
}
